.body{
  width: 1550px;
}
.nav {
  list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      height: 100vmax;
  float: left;
  background-color: #d9d9d9;
  line-height: 2.5;
}
.nav h1{
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  display: block;
  line-height: 2.5;
}
.nav li {
  padding: 8px 16px;
  display: block;
  line-height: 2.5;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;

}
.nav li:hover {
  background-color: #d9d9d9;
}
/* Style for content area */
.manage_accounts {
  padding: 160px;
  margin-left: 100px;
}
.table{
  background-color: #d9d9d9;
  width: 100em;
}
tr:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}
table,th{
  border: 1px solid #d9d9d9;
}